<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>539483681905-mh109791rnrdt86c3ul95h59e7le0omq.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.539483681905-mh109791rnrdt86c3ul95h59e7le0omq</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>539483681905-t4h1c05ffdde7l5hjvuinsggas6jforn.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyCTt485F6gINnpOz90sYt7ahuztCnjORC0</string>
		<key>GCM_SENDER_ID</key>
		<string>539483681905</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.kurtlourens.nomansskyrecipes</string>
		<key>PROJECT_ID</key>
		<string>nomansskyrecipes</string>
		<key>STORAGE_BUCKET</key>
		<string>nomansskyrecipes.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:539483681905:ios:ad6c2f805ca32eaa4117d0</string>
		<key>DATABASE_URL</key>
		<string>https://nomansskyrecipes.firebaseio.com</string>
		<key>ADMOB_APP_ID</key>
		<string>ca-app-pub-6788092250018822~6244851712</string>
	</dict>
</plist>