const remoteConfigsApiKey = '';
const patreonOAuthClientId = '';
//
const identityName = 'notSureIfSecret';
const publisher = 'notSureIfSecret';

class Patreon {
  static const List<String> codes = [
    'SECRET',
  ];
}

