const remoteConfigsApiKey = '';
const patreonOAuthClientId = '';
//
const identityName = 'notSureIfSecret';
const publisher = 'notSureIfSecret';

const wiredashProjectId = '';
const wiredashSecret = '';

class Patreon {
  static const List<String> codes = [
    'SECRET',
  ];
}

